/* This is the default styling for all Tooltipsters: */
.tooltipster {
	background: #000; /* <- for IE */
	background: rgba(0,0,0,0.9); 
	color: #fff; 
	font-family: Arial, sans-serif;
	font-size: 0;
	line-height: 0;
	position: absolute;
	padding: 8px 10px;
	border-radius: 2px; 
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-content {
	font-size: 12px;
	line-height: 14px;
}


/* When you want to create a second class for your Tooltipster messages, copy (or modify) this template and add your style to it. Don't forget to refer to it in your Tooltipster settings (tooltipClass: '.my-custom-theme') */
.my-custom-theme {
	position: absolute;
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	font-size: 0;
	line-height: 0;
	/* Start styling here... */
}
.my-custom-theme .tooltipster-content {
	/* Use this to set things like font-size and line-height */
}


/* These next classes handle the styles for the little arrow attached to the tooltip. If you need to change the color of the arrow to match a custom Tooltipster theme, set it in your Tooltipster settings (arrowColor: '#yourcolor') */
.tooltip-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0px;
	z-index: -1;
}
.tooltip-arrow span {
	display: inline-block;
	width: 0; 
	height: 0;
}

.tooltip-arrow-top {
	bottom: -5px;
	margin: 0 auto;
	text-align: center;
}
.tooltip-arrow-top-right {
	bottom: -5px;
	margin-left: -10px;
	text-align: right;
}
.tooltip-arrow-top-left {
	bottom: -5px;
	margin-left: 10px;
	text-align: left;
}
.tooltip-arrow-top span, .tooltip-arrow-top-right span, .tooltip-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
}

.tooltip-arrow-bottom {
	top: -8px;
	margin: 0 auto;
	text-align: center;
}
.tooltip-arrow-bottom-right {
	top: -8px;
	margin-left: -10px;
	text-align: right;
}
.tooltip-arrow-bottom-left {
	top: -8px;
	margin-left: 10px;
	text-align: left;
}
.tooltip-arrow-bottom span, .tooltip-arrow-bottom-right span, .tooltip-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
}

.tooltip-arrow-left {
	right: -16px;
	margin: 0 auto;
	text-align: right;
}
.tooltip-arrow-left span {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
}

.tooltip-arrow-right {
	left: -8px;
	margin: 0 auto;
	text-align: left;
}
.tooltip-arrow-right span {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
}


/* Some styling to enable the slide animation */
.tooltip-slide {
	height: 0px;
	position: absolute;
	width: auto;
	z-index: 9999999;
	overflow: hidden;
}