/* Copy and paste this into your tooltipster.css file. Don't forget to refer to it in your Tooltipster settings (tooltipClass: '.tooltipster-clean-cut') */

.tooltipster-clean-cut {
	background-color: #f9f9f9;
	border: 1px solid #dadada;
	box-shadow: inset 0px 1px 0px #fff;
	color: #595959;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px; 
	position: absolute;
	padding: 10px;
	border-radius: 4px; 
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-clean-cut .tooltip-arrow {
	text-shadow: 0px 2px 0px #dadada, 0px 1px 0px #dadada;
}