/* This theme was made for Tooltipster's default display plugin */

.tooltipster-shadow .tooltipster-box {
	border: none; 
	border-radius: 5px;
	background: white;
	box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
}

.tooltipster-shadow.tooltipster-bottom .tooltipster-box {
	margin-top: 6px;
}

.tooltipster-shadow.tooltipster-left .tooltipster-box {
	margin-right: 6px;
}

.tooltipster-shadow.tooltipster-right .tooltipster-box {
	margin-left: 6px;
}

.tooltipster-shadow.tooltipster-top .tooltipster-box {
	margin-bottom: 6px;
}

.tooltipster-shadow .tooltipster-content {
	color: #8d8d8d;
	font-family: 'Arial', sans-serif;
}

.tooltipster-shadow .tooltipster-arrow {
	height: 6px;
	margin-left: -6px;
	width: 12px;
}

.tooltipster-shadow.tooltipster-left .tooltipster-arrow,
.tooltipster-shadow.tooltipster-right .tooltipster-arrow {
	height: 12px;
	margin-left: 0;
	margin-top: -6px;
	width: 6px;
}

.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-uncropped {
	top: -6px;
}

.tooltipster-shadow.tooltipster-right .tooltipster-arrow-uncropped {
	left: -6px;
}

.tooltipster-shadow .tooltipster-arrow-background {
	display: none;
}

.tooltipster-shadow .tooltipster-arrow-border {
	border: 6px solid transparent;
}

.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom: 6px solid white;
}

.tooltipster-shadow.tooltipster-left .tooltipster-arrow-border {
	border-left: 6px solid white;
}

.tooltipster-shadow.tooltipster-right .tooltipster-arrow-border {
	border-right: 6px solid white;
}

.tooltipster-shadow.tooltipster-top .tooltipster-arrow-border {
	border-top: 6px solid white;
}